.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text--small {
    font-size: 1.2rem;
}

.text--smaller {
    font-size: 1.1rem;
}

.text--big {
    font-size: 1.8rem;
}

.text-underline {
    text-decoration: underline;
}

.text-bold {
    font-weight: 700;
}

.text-regular-weight {
    font-weight: 400;
}

.text-lead {
    font-size: 14px;
}

.va-middle {
    vertical-align: middle;
}

.developers-platform-heading {
    margin-bottom: 7.8rem;
}

.heading {
    font-weight: 700;
    letter-spacing: -0.4px;
    color: #333;
}

    .heading--thin {
        font-weight: 400;
    }

    .heading.heading--large {
        font-size: 3.4rem;
    }

    .heading.heading--med {
        font-size: 2.4rem;
    }

    .heading.heading--small {
        font-size: 1.8rem;
    }

    .heading.heading--no-offset {
        margin-bottom: 0;
    }

.login-form {
    padding-top: 3.3rem;
    width: 320px;
}

    @media screen and (max-width: 1023px) {
        .login-form {
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 350px) {
        .login-form {
            width: 100%;
        }
    }

    .login-form__logo-container {
        margin-bottom: 3.3rem;
    }

    .login-form__field-container {
        margin-bottom: 6rem;
    }

        .login-form__field-container--offset-small {
            margin-bottom: 3.5rem;
        }

    .login-form__fields-footer {
        margin-bottom: 6.5rem;
    }

    .login-form__cta-container {
        margin-bottom: 2rem;
    }

.login-optionals {
    display: flex;
}

.login-optionals__item-col--pull-left {
    margin-right: auto;
}

.checkbox-radio-common {
    display: inline-block;
    vertical-align: middle;
}

    .checkbox-radio-common input {
        display: none;
    }

    .checkbox-radio-common__ui {
        vertical-align: middle;
        display: inline-block;
        margin-right: 13px;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

        .checkbox-radio-common__ui--disabled {
            opacity: 0.2;
            cursor: default;
        }

    .radio__ui {
        position: relative;
        border-radius: 50%;
        border: 1px solid #e1e2e5;
        background: #fff;
        text-align: center;
    }

        .radio.selected .radio__ui:after {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #7f7fd5;
        }

    .checkbox__ui {
        background: #ccc;
        border-radius: 2px;
        line-height: 16px;
        font-size: 12px;
    }

    .checkbox.checked .checkbox__ui {
        background: #7f7fd5;
    }

    .checkbox__switch-ui {
        position: relative;
        width: 40px;
        background: #a6a6a6;
        height: 24px;
        border-radius: 20px;
        transition: background-color .3s linear;
    }

    .checkbox__switch-ui:after {
        content: ' ';
        position: absolute;
        top: 50%;
        right: calc(100% - 3px);
        transform: translate(100%, -50%);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: -1px 1.7px 4px 0 rgba(0, 0, 0, 0.25);
        transition: right .3s linear;
    }

        .checkbox.checked .checkbox__switch-ui:after {
            right: 3px;
            transform: translateY(-50%);
        }

        .checkbox.checked .checkbox__switch-ui {
            background: #7f7fd5;
        }

.input {
    position: relative;
}

    .input__field {
        display: block;
        width: 100%;
        color: #999;
        font-size: 1.4rem;
        padding: 1.3rem 0;
        border-bottom: 1px solid #ccc;
    }

    .input__field--error {
        border-bottom: 1px solid #ff2866;
    }

    .input__field::placeholder {
        color: #999;
    }

    .input__icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #666;
    }

    .input__label {
        margin-bottom: 14px;
    }

    .input__error {
        color: #ff2866;
        margin-top: 11px;
    }

    .password-input--visible .input__icon {
        color: #7f7fd5;
    }

    .password-input--visible .input__field {
        border-bottom: 1px solid #7f7fd5;
        color: #7f7fd5;
    }

.login-btn {
    display: block;
    margin: 0 auto;
    width: 206px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 1.6rem;
    background-image: linear-gradient(to right, #7f7fd5, #86a8e7 48%, #91eae4);
    border-radius: 25px;
}

    .login-btn:hover {
        cursor: pointer;
    }

    .login-btn:active {
        position: relative;
        top: 2px;
    }

.wave {
    position: absolute;
    height: 31.9rem;
    background: url('../../assets/login-page/wave/@1x.png') no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

    @media screen and (max-width: 1023px) {
        .wave {
            position: fixed;
            background-size: cover;
            background-position: top center;
        }
    }

.sidenav {
    background: #2e324d;
    height: 100%;
}

    .sidenav.show {
        display: block;
    }

    @media screen and (max-width: 768px) {
        .sidenav {
            display: none;
            position: fixed;
            z-index: 99;
            top: 57px;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .sidenav__item {
        position: relative;
        height: 56px;
        line-height: 56px;
        text-align: center;
    }

    .sidenav__label {
        display: none;
        color: #8895bb;
        margin-left: 20px;
    }

    @media screen and (max-width: 768px) {
        .sidenav__item {
            text-align: left;
            padding: 0 17px;
        }

        .sidenav__label {
            display: inline;
        }
    }

    .sidenav__item:before {
        content: ' ';
        position: absolute;
        width: 2px;
        height: 32px;
        background: #91eae4;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity .3s linear;
    }

    .sidenav__label {
        transition: color .3s linear;
    }

        .sidenav__item:hover:before,
        .sidenav__item.active:before{
            opacity: 1;
        }

        .sidenav__item:hover .sidenav__label,
        .sidenav__item.active .sidenav__label {
            color: #91eae4;
        }

        .sidenav__item:hover path,
        .sidenav__item.active path{
            fill: #91eae4;
        }

    .sidenav__item path {
        transition: fill .3s linear;
    }

    @media screen and (max-width: 768px) {
        .sidenav__link {
            display: flex;
            align-items: center;
        }
    }

/* Structure */
.icon {
    position: relative;
}

    /* Skin */
    .icon-regular {
        color: #cccccc;
    }

    .icon-light {
        color: #a6a6a6;
    }

    .icon-chetwod-blue-color {
        color: #7f7fd5;
    }

    .icon-chetwod-blue {
        background: #7f7fd5;
        color: #fff;
    }
    /* /Skin */

    .icon--small {
        font-size: 1.6rem;
    }

    .icon--large {
        font-size: 4rem;
    }

    .icon--notification:after {
        content: ' ';
        position: absolute;
        top: 2px;
        right: 3px;
        border-radius: 50%;
        background: #ff2866;
        width: 6px;
        height: 6px;
    }

    .icon--notification:before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 1px;
        border-radius: 50%;
        background: #fff;
        width: 10px;
        height: 10px;
    }

.search-bar {
    position: relative;
    background: #f4f5f9;
    padding: 12px 9px 9px 42px;
    width: 100%;
}

    .search-bar:before {
        content: ' ';
        width: 21px;
        height: 21px;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: url('../../assets/icons/serach.svg') no-repeat;
        background-size: 100% 100%;
    }

    .search-bar input {
        width: 100%;
        font-size: 1.4rem;
    }

    .search-bar input::placeholder {
        font-size: 1.4rem;
        color: #a6a6a6;
    }

/* Structure */
.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 10px;
    width: 140px;
    font-size: 1.2rem;
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}

    @media screen and (max-width: 1024px) {
        .btn {
            display: block;
            width: 100%;
            height: 40px;
            line-height: 40px;
        }
    }

.btn--bigger {
    width: 155px;
}

.btn--full-width {
    display: block;
    width: 100%;
}

.btn--height-l {
    height: 40px;
    line-height: 40px;
}

    /* Skin */
    .btn-regular {
        background: transparent;
    }
    .btn-chetwod-blue {
        background: #7f7fd5;
        color: #fff;
    }
    .btn-border-chetwod-blue {
        border: 1px solid #7f7fd5;
    }
    .btn-border-chetwod-extra-blue {
        border: 1px solid #818bdc;
    }
    /* /Skin */

    .btn__icon-container {
        margin-right: 9px;
    }

    .btn__icon-container--center {
        position: relative;
        top: -2px;
    }

.no-apps-prompt {
    width: 177px;
    margin: 12rem auto 0;
}

    .no-apps-prompt__icon-container {
        margin-bottom: 3.2rem;
    }

.application-card {
    display: flex;
    height: 64px;
    padding: 16px 17px 12px 0;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

    .application-card__icon-container {
        line-height: 36px;
        width: 64px;
    }

    .application-card__info-container {
        margin-right: auto;
    }

    .application-card__options-container {
        line-height: 36px;
    }

.app-info__title-row {
    margin-bottom: 0.9rem;
}

.app-info__info-row {
    display: flex;
}

.app-info__status-col {
    margin-right: 3.1rem;
    white-space: nowrap;
}

.app-info__package-col {
    white-space: nowrap;
}

.app-info__title {
    display: inline-block;
    vertical-align: middle;
    padding-left: 12px;
}

.options-btn {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

    .options-btn:active,
    .options-btn.active {
        background: #f3f4f8;
    }

.dropdown {
    position: relative;
}

    .dropdown.active .dropdown__list {
        display: block;
    }

    .dropdown__list {
        display: none;
        width: 132px;
        position: absolute;
        z-index: 10;
        bottom: -5px;
        right: -8px;
        transform: translateY(100%);
        padding: 5px 0;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
        background: #fff;
        border-radius: 2px;
    }

        .dropdown__list--full-width {
            width: 100%;
            right: 0;
        }

.option-item {
    display: flex;
    height: 35px;
    padding: 0 18px;
    align-items: center;
}

    .option-item:hover {
        background: #f3f4f8;
    }

    .option-item__legend-container {
        margin: 3px 0 0 10px;
    }

.placements {
    background: #fafafa;
}

    .placements__header {
        display: flex;
        align-items: center;
        padding: 15px 12px 0;
    }

    .placements__legend-container {
        margin-right: auto;
    }

    .placements__content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5rem;
        padding: 0 7px 12px;
    }

    @media screen and (max-width: 768px) {
        .placements__content {
            display: block;
        }
    }

    .placements__item-col {
        max-width: 33.333333333333333%;
        flex-grow: 1;
        padding: 5px;
    }

    @media screen and (max-width: 768px) {
        .placements__item-col {
            display: block;
            max-width: none;
        }
    }

.placement-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 184px;
    border: 1px solid transparent;
}

    .placement-card__content {
        padding-top: 2.4rem;
        flex-grow: 1;
    }

    .placement-card__footer {
        display: flex;
        align-items: center;
        height: 42px;
    }

    .placement-card__footer-col {
        position: relative;
        flex-grow: 1;
    }

    .placement-card__footer-col:not(:first-child):before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 2.4rem;
        background: #e8e9ed;
    }

.placement-summary__name-container {
    margin-bottom: .5rem;
}

.placement-summary__icon-container {
    margin-bottom: 1.4rem;
}

.placement-type-icon-placeholder {
    width: 2.4rem;
    height: 4.2rem;
    margin: 0 auto;
    background: #7f7fd5;
    border-radius: 2px;
}

.placement-settings {
    position: relative;
    padding: 2rem 1.6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .placement-settings__loader-container {
        position: relative;
    }

    .placement-settings__fields-container {
        flex-grow: 1;
    }

    .placement-settings__heading-container {
        margin-bottom: 3rem;
    }

    .placement-settings__field-container {
        margin-bottom: 3.4rem;
    }

    .placement-settings__field-container--offset-s {
        margin-bottom: 2.8rem;
    }

    .placement-settings__close {
        float: right;
    }

.modal {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    padding: 5.5rem 0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.7);
}

    .modal__ui {
        position: relative;
        width: 65rem;
        margin: 0 auto;
        background: #fff;
    }

    .modal__header {
        display: flex;
        align-items: center;
        height: 6.5rem;
        padding: 0 0 0 2.5rem;
        border-bottom: 1px solid #edeef2;
    }

        .modal__header--bordered {
            border-top: 8px solid #7f7fd5;
            height: 7.3rem;
        }

    .modal__title__container {

    }

    .modal__close-container {
        width: 6.5rem;
        height: 6.5rem;
        line-height: 6.5rem;
        margin-left: auto;
        border-left: 1px solid #edeef2;
    }

    .modal__content {
        padding: 1.9rem 2.5rem 0;
    }

        .modal__content--placement-delete {
            padding: 2.3rem 2.2rem 3.9rem;
        }

    .modal__footer {
        border-top: 1px solid #edeef2;
        height: 64px;
    }

    @media screen and (max-width: 768px) {
        .modal {
            height: calc(100% - 57px);
            top: 57px;
            padding: 0;
            background: #fff;
        }

        .modal__ui {
            width: 100%;
            height: 100%;
        }

        .modal__header {
            height: 5.6rem;
        }

        .modal__close-container {
            width: 5.6rem;
            height: 5.6rem;
            line-height: 5.6rem;
        }
    }

.platform-select {
    margin-bottom: 2.3rem;
}

    .platform-select__options-container {
        display: flex;
        margin: 15px -6px 0;
    }

    .platform-select__option-col {
        max-width: 50%;
        flex-grow: 1;
        padding: 0 6px;
    }

    .platform-select__option {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #edeef2;
        background: #fff;
        cursor: pointer;
    }

    .platform-select__option--disabled {
        opacity: 0.2;
        cursor: default;
    }

    .platform-select__icon-container {
        margin-bottom: 1.9rem;
    }

    .platform-select__option.selected .platform-select__icon {
        color: #7f7fd5;
    }
    .platform-select__option.selected .platform-select__icon path {
        fill: #7f7fd5;
    }

.card-selectable.selected {
    background: #f8f8fd;
    border: 1px solid #7f7fd5;
}

.integration-select {
    margin-bottom: 3.5rem;
}

    .integration-select__legend-container {
        margin-bottom: 2.2rem;
    }

    .integration-select__option {
        margin-right: 3.1rem;
    }

.application-info__field-container {
    width: calc(50% - 6px);
    margin-bottom: 3.2rem;
}

    @media screen and (max-width: 768px) {
        .application-info__field-container {
            width: 100%;
        }
    }

.create-app-form__footer {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2.5rem;
}

    @media screen and (max-width: 768px) {
        .create-app-form__footer {
            padding: 0 1.2rem;
        }

        .create-app-form__footer-col {
            flex: 1;
        }
    }

@keyframes loader {
    from {
        transform: rotate(0deg) translate(-50%, -50%);
    }
    to {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10;
}

    .loader:after {
        content: ' ';
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: left top;
        border-radius: 50%;
        border-left: 3px solid #ccc;
        border-right: 3px solid #ccc;
        border-bottom: 3px solid #ccc;
        border-top: 3px solid #7f7fd5;
        animation: loader 1s linear forwards infinite;
    }

.dashboard-header {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 75px;
    grid-gap: 10px;
}

    .dashboard-header__filters-container {
        padding-left: 10px;
    }

    .dashboard-header__metric {
        height: 10rem;
        background: #fff;
    }

.metric-card {
    border-left: 7px solid #cdcdcd;
    padding-left: 5rem;
}

    .metric-card__title-container {
        padding: 15px 0 5px;
    }

    .metric-card--active {
        border-left: 7px solid #7f7fd5;
    }

.currency {
    margin-left: 5px;
}

.metric-filters {
    width: calc(100% + 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-icon path {
    fill: #aaa;
}

.apps-metrics {
    background: #fff;
}

.apps-metrics-head {
    height: 47px;
    display: flex;
    padding: 0 16px;
    align-items: center;
}

    .apps-metrics-head__controls-container {

    }

    .apps-metrics-head__icon-container {
        margin-left: auto;
    }

.apps-metrics-body {
    overflow-x: auto;
}

    .apps-metrics-body__table {
        width: 100%;
        border-collapse: collapse;
        color: #666;
    }

        .apps-metrics-body__table th,
        .apps-metrics-body__table td {
            padding: 0 1.8rem;
            text-align: left;
            border-bottom: 1px solid #eeeef3;
        }

        .apps-metrics-body__table th {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .apps-metrics-body__table th {
            border-top: 1px solid #eeeef3;
        }

        .apps-metrics-body__table td {
            padding-top: 1.8rem;
            padding-bottom: 1.8rem;
        }

        .apps-metrics-body__table th:not(:last-of-type),
        .apps-metrics-body__table td:not(:last-of-type) {
            border-right: 1px solid #eeeef3;
        }

.app-badge {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .app-badge__icon-container {
        margin-right: 2rem;
    }

    .app-badge__integration {
        margin-bottom: 1rem;
    }

.graph {
    flex: 1;
    background: #fff;
    padding: 12px 0;
}

.graph-header {
    display: flex;
    align-items: center;
}

.graph-header__metrics-container {
    display: inline-block;
}

.graph-header__chip-container {
    display: inline-block;
    margin-left: 10px;
}

.graph-header__column {
    position: relative;
    padding: 0 12px;
}

    .graph-header__column:not(:last-of-type):after {
        content: ' ';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;
        background: #a6a6a6;
    }

.chip {
    position: relative;
    display: inline-block;
    height: 25px;
    line-height: 24px;
    border: 1px solid #7f7fd5;
    border-radius: 25px;
    padding: 0 30px 0 10px;
    color: #7f7fd5;
}

    .chip--no-close {
        padding: 0 10px;
    }

    .chip__remove {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

.placement-delete-text {
    line-height: 1.78;
}

.user-dropdown__toggle-mobile {
    display: none;
}

    @media screen and (max-width: 768px) {
        .user-dropdown__toggle-mobile {
            display: inline-block;
        }
    }

    @media screen and (max-width: 768px) {
        .user-dropdown__toggle {
            display: none;
        }
    }

    .user-dropdown__icon-mobile {
        position: relative;
        color: #fff;
        background: #ccc;
        padding: 2px;
        border-radius: 50%;
    }

.color--grey {
    color: #666;
}

.color--grey-lighter {
    color: #999;
}

.color--grey-light {
    color: #a6a6a6;
}

.color--white {
    color: #fff;
}

.color--dark {
    color: #333;
}

.color--chetwod-blue {
    color: #7f7fd5;
}

.color--disabled {
    color: #ccc;
}


