.l-container {
    width: 1190px;
    padding: 0 16px;
    margin: 0 auto;
}

    @media screen and (max-width: 1190px) {
        .l-container {
            width: 100%;
        }
    }

.l-login {
    position: relative;
    padding-bottom: 10rem;
}

.l-login__background {
    position: absolute;
    top: 0;
    right: 0;
}

    @media screen and (max-width: 1023px) {
        .l-login__background {
            display: none;
        }
    }

    .l-login .form-column {
        padding: 3.3rem 0;
    }

.l-header {
    display: flex;
    background: #fff;
    min-height: 56px;
    border-bottom: 1px solid #edeef2;
}

    .l-header--dark {
        background: #2e324d;
        border-color: #232740;
    }

    .l-header--dark .l-header__notifications-container {
        border-color: #232740;
    }

    .l-header--dark .l-header__logo-container {
        border-color: transparent;
    }

    .l-header--dark .l-header__user-container {
        border-color: #232740;
    }

    .l-header--dark .l-header__title {
        display: none;
    }

    .l-header--dark .l-header__notification-icon {
        color: #b6bdcb;
    }

    .l-header--dark .l-header__notification-icon:before {
        background: #232740;
    }

    .l-header--dark .l-header__user-icon {
        background: #b6bdcb;
        color: #232740;
    }

    .l-header--dark .l-header__logo {
        display: none;
    }

    .l-header--dark .l-header__logo-white {
        display: inline-block;
    }

    @media screen and (max-width: 768px) {
        .l-header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;
        }
    }

.l-header__logo-container {
    width: 55px;
    line-height: 56px;
    border-right: 1px solid #edeef2;
}

.l-header__logo-white {
    display: none;
}

.l-header__title-container {
    line-height: 56px;
    padding-left: 15px;
    margin-right: auto;
}

.l-header__notifications-container {
    width: 56px;
    line-height: 56px;
    border-left: 1px solid #edeef2;
}

.l-header__user-container {
    padding: 0 22px;
    line-height: 56px;
    border-left: 1px solid #edeef2;
}

    @media screen and (max-width: 768px) {
        .l-header__user-container {
            padding: 0;
            width: 56px;
        }
    }

.l-sub-header {
    display: flex;
    height: 64px;
    padding: 0 12px;
    background: #fff;
    border-bottom: #edeef2;
}

    @media screen and (max-width: 768px) {
        .l-sub-header {
            display: none;
        }
    }

    .l-sub-header__search-container {
        display: flex;
        align-items: center;
        margin-right: auto;
        width: 49.2rem;
    }

    @media screen and (max-width: 900px) {
        .l-sub-header__search-container {
            width: auto;
            flex-grow: 1;
            margin-right: 15px;
        }
    }

    .l-sub-header__sort-container {
        width: 155px;
        line-height: 64px;
    }

    .l-sub-header__cta-container {
        display: flex;
        align-items: center;
    }

.l-sub-header-mobile {
    display: none;
    position: fixed;
    z-index: 10;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 56px;
}

    @media screen and (max-width: 768px) {
        .l-sub-header-mobile {
            display: flex;
        }
    }

    .l-sub-header__side-col {
        width: 55px;
        line-height: 56px;
        height: 100%;
    }

    .l-sub-header-mobile__search-container {
        border-right: 1px solid #edeef2;
    }

    .l-sub-header-mobile__sort-container {
        flex-grow: 1;
        padding: 0 16px;
    }

    .l-sub-header-mobile__cta-container {
        border-left: 1px solid #edeef2;
    }

.l-page {
    position: relative;
}

    .l-page--with-sidebar {
        display: grid;
        grid-template: 100% / 56px auto;
        height: 100vh;
    }

    @media screen and (max-width: 768px) {
        .l-page--with-sidebar {
            display: block;
            padding-top: 56px;
        }
    }

    .l-page-bg-whisper {
        background: #f4f5f9;
    }

    .l-page-bg-white {
        background: #fff;
    }

.l-applications-main {
    display: grid;
    grid-template: 100% / auto 320px;
    height: calc(100vh - 120px);
}

    @media screen and (max-width: 768px) {
        .l-applications-main {
            display: block;
        }
    }

.l-applications-main__apps-container {
    padding: 16px;
    overflow-y: scroll;
}

.l-applications-main__side-bar {
    background: #fff;
    overflow-y: scroll;
}

    @media screen and (max-width: 768px) {
        .l-applications-main__side-bar {
            position: fixed;
            top: 57px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
        }
    }

.l-applications-list {

}

    .l-applications-list__row {
        margin-bottom: .8rem;
    }

.l-dashboard__main {
    display: flex;
    flex-direction: column;
}

.l-dashboard__page-content {
    display: grid;
    flex: 1;
    padding: 0 20px;
    grid-column-gap: 17px;
    grid-template: 100% / 41rem auto;
    min-height: 0;
}

.l-dashboard__container-left {
    overflow-y: auto;
}

.l-dashboard__container-right {
    display: flex;
}
